body {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.88rem;
  line-height: 1.6;
  background-color: blueviolet;
  color: white;
}
body2 {
  color: black;
}

h1 {
  background-color: red;
  color: black;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: medium;
  font-weight: normal;
}

li {
  text-align: left;
  font-weight: bold;
  font-size: medium;
  color: rgb(255, 8, 8);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: blue;
}
